<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<f:asset.css identifier="faqStyles" href="EXT:afey_faq/Resources/Public/Css/styles.css"/>

    <h1>{data.header}</h1>

    <f:flashMessages />

	<f:if condition="{faqs}">
		<f:then>
			<f:for each="{faqs}" as="faq" iteration="i">
				<f:if condition="{faqs_limit}">
					<f:then>
						<f:if condition="{i.index} < {faqs_limit}">
							<section class="faq">
								<h3 class="faq__question">{faq.question}</h3>
								<div class="faq__answer">
									<f:format.raw>{faq.answer}</f:format.raw>
								</div>
							</section>
						</f:if>
					</f:then>
					<f:else>
						<section class="faq">
							<h3 class="faq__question">{faq.question}</h3>
							<div class="faq__answer">
								<f:format.raw>{faq.answer}</f:format.raw>
							</div>
						</section>
					</f:else>
				</f:if>
			</f:for>
		</f:then>
		<f:else>
			<h3>No records found.</h3>
		</f:else>
	</f:if>

</f:section>
</html>
