.faq {
	background-color: #fde7e7;
	padding: 20px;
	margin-bottom: 20px;
	border-left: 5px solid #097f52;
}

.faq__question {
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

.faq__answer {
	color: #255f63;
}
